<!DOCTYPE html>
<html>
  
  <head>  
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/bootstrap/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<style>
		.logreg{
			padding: 20px 40px 0px 40px;
			min-width: 300px;
		}

		.class {
                margin: 1.66%;
                height: 200px;
		        background-color: gray;
                border-radius: 1%;
                border-radius: 1%;
                text-align: center;
                font-weight: bold;
                font-size: 150%;
		}
        .class:hover{
            background-color: #4f514f;
        }
	</style>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
	<!-- info  -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Jawn</a>
	</div>

	<!-- title -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
			<li><a href="/addEvent/">Add Event</a></li>
	  </ul>
	  
	  <!-- probably dont need
	  <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
	  </form>
	  -->
	  {% if isLoggedIn == "False" %}
	  <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text"> </p> </li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Register</b> <span class="caret"></span></a>
	      <ul id="login-dp" class="dropdown-menu">
		<li>
		  <div class="row">
		    <div class="col-md-12 logreg">

		      <form class="form" role="form" method="POST" action="/register/" accept-charset="UTF-8" id="login-nav">
			
			<div class="form-group">
			  <label class="sr-only" for="exampleInputEmail2">Username</label>
			  <input type="text" class="form-control" name= "username" placeholder="Username" required>
			</div>
			
			<div class="form-group">
			  <label class="sr-only" for="exampleInputPassword2">Password</label>
			  <input type="password" class="form-control" name= "p1"  placeholder="Password" required>
			</div>
			
			<div class="form-group">
			  <label class="sr-only" for="exampleInputPassword2">Confirm Password</label>
			  <input type="password" class="form-control" name= "p2"  placeholder="Confirm Password" required>
			</div>
			
			<div class="form-group">
			  <label class="sr-only" for="exampleTeacherCode">Teacher Code</label>
			  <input type="text" class="form-control" name= "code"  placeholder="Teacher Confirmation Code (optional)">
			</div>
			
			<div class="form-group">
			  <button type="submit" class="btn btn-primary btn-block">Register</button>
			</div>
			
		      </form>
		    </div>
		   
		  </div>
		</li>
	      </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
	      <ul id="login-dp" class="dropdown-menu">
		<li>
		  <div class="row">
		    
		    <div class="col-md-12 logreg">
		      <form class="form" role="form" method="POST" action="/login/" accept-charset="UTF-8" id="login-nav">
			
			<div class="form-group">
			  <label class="sr-only" for="exampleInputEmail2">Username</label>
			  <input type="text" class="form-control" name= "username" placeholder="Username" required>
			</div>
			
			<div class="form-group">
			  <label class="sr-only" for="exampleInputPassword2">Password</label>
			  <input type="password" class="form-control" name= "pass"  placeholder="Password" required>
			</div>
			
			<div class="form-group">
			  <button type="submit" class="btn btn-primary btn-block">Sign in</button>
			</div>
			
		      </form>
		    </div>
		   
		  </div>
		</li>
	      </ul>
            </li>
	  </ul>
	  {% else %}
	  <li><a href="/logout/"><p class="navbar-text navbar-right"> Logout</p></a></li>
	  {% endif %}
	  
	</div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

 <div class="container" >
  <div class="jumbotron" style = "background-color: #222; color:white" >
    <h1>JAWN</h1> 
    <p>Choose one of the following links to go to your class homepage</p>
    <div class = "row">

        {%for a in range(classes) %}
            {%if a == 5%}
      </div>
      <div class="row"> 
          <div class="col-md-2 class"> {{classes[a]}} <img src = "../static/calendar.png" height="140px" width="140px"> 
          </div>
            {% else %}
                    <div class="col-md-2 class"> {{classes[a]}} <img src = "../static/calendar.png" height="140px" width="140px"> 
          </div>
         {% endif %}
        {% endfor %}
</div>


    
  </body>
  </html>
